### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
pd.options.display.float_format = '{:,.2f}'.format

In [21]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
purchase_data.shape

(780, 7)

In [23]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [24]:
player_count = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({'Total Players': [player_count]})
total_players

   Total Players
0            576

In [7]:
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [8]:
number_of_items = len(purchase_data['Item ID'].unique().tolist())
number_of_items

183

In [9]:
number_of_purchases = purchase_data['Purchase ID'].count()
number_of_purchases

780

In [10]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [83]:
purchasing_analysis_total = pd.DataFrame({
    'Number of Unique Items': [number_of_items],
    'Average Price': [average_price], 
    'Number of Purchases': [number_of_purchases],
    'Total Revenue':[total_revenue]
})
format_dict = {'Average Price':'${0:,.2f}', 
               'Total Revenue':'${0:,.2f}'}
purchasing_analysis_total = purchasing_analysis_total.style.format(format_dict)
purchasing_analysis_total

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

In [12]:
number_of_customers = len(purchase_data['SN'].unique())
number_of_customers

576

In [59]:
#Gender Demographics
gender_data = purchase_data.groupby('Gender').agg({
    'SN': ['nunique']
    
})
gender_data.columns = [' '.join(col).strip() for col in gender_data.columns.values]
gender_data = gender_data.rename({'SN nunique': 'Total Count'}, axis=1)
gender_data['Percentage of Players'] = gender_data['Total Count']/number_of_customers*100
gender_data=gender_data.sort_values('Total Count', ascending = False)
gender_data

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
number_of_unique_gender = purchase_data[['SN','Gender']]
number_of_unique_gender = number_of_unique_gender.drop_duplicates()
unique_gender_count = number_of_unique_gender.groupby('Gender').agg({
    'Gender':'count'
})
unique_gender_count

                       Gender
Gender
Female                     81
Male                      484
Other / Non-Disclosed      11

In [81]:
#Purchase Analysis By Gender
purch_anal_gender = purchase_data.groupby('Gender').agg({
    'Price': ['count','mean','sum'],
    
})
purch_anal_gender.columns = [' '.join(col).strip() for col in purch_anal_gender.columns.values]
purch_anal_gender = purch_anal_gender.rename({'Price count': 'Purchase Count', 
                                              'Price mean':'Average Purchase Price',
                                              'Price sum':'Total Purchase Value'}, axis=1)
purch_anal_gender['Avg Total Purchase per Person'] = purch_anal_gender['Total Purchase Value']/unique_gender_count['Gender']
format_dict = {'Average Purchase Price':'${0:,.2f}', 
               'Total Purchase Value':'${0:,.2f}', 
               'Avg Total Purchase per Person': '${0:,.2f}'}
purch_anal_gender = purch_anal_gender.style.format(format_dict)

purch_anal_gender

3

In [61]:
def age_bins(age):
    if age < 10:
        return "<10"
    elif age < 15:
        return "10-14"
    elif age < 20:
        return "14-19"
    elif age < 25:
        return "20-24"
    elif age < 30:
        return "25-29"
    elif age < 35:
        return "30-34"
    elif age < 40:
        return "35-40"
    else:
        return "40+"
    
purchase_data['Age Group'] = purchase_data['Age'].map(age_bins)

unique_purchasers = purchase_data[['SN','Age','Age Group']]
unique_purchasers = unique_purchasers.drop_duplicates()

age_group_data = unique_purchasers.groupby('Age Group').agg({
    'Age':'count'
})
age_group_data = age_group_data.rename({'Age':'Total Count'}, axis=1)
age_group_data['Percentage of Players'] = age_group_data['Total Count']/age_group_data['Total Count'].sum()*100
age_group_data = age_group_data.reindex(['<10', '10-14','14-19','20-24','25-29','30-34','35-40','40+'])
age_group_data

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
14-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-40               31                   5.38
40+                 12                   2.08

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [72]:
purch_anal_age = purchase_data.groupby('Age Group').agg({
    'Age': 'count',
    'Price':['sum','mean']
    
})
purch_anal_age.columns = [' '.join(col).strip() for col in purch_anal_age.columns.values]
purch_anal_age = purch_anal_age.rename({'Age count': 'Purchase Count', 
                                        'Price mean':'Average Purchase Price',
                                        'Price sum':'Total Purchase Value'}, axis=1)
purch_anal_age['Avg Total Purchase per Person']=purch_anal_age['Total Purchase Value']/age_group_data['Total Count']
purch_anal_age = purch_anal_age[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']]
purch_anal_age = purch_anal_age.reindex(['<10', '10-14','14-19','20-24','25-29','30-34','35-40','40+'])
format_dict = {'Average Purchase Price':'${0:,.2f}', 
               'Total Purchase Value':'${0:,.2f}', 
               'Avg Total Purchase per Person': '${0:,.2f}'}
purch_anal_age = purch_anal_age.style.format(format_dict)

purch_anal_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
top_spenders = purchase_data.groupby('SN').agg({
    'Price':'sum',
    'SN':'count'
})
top_spenders = top_spenders.rename({'Price':'Total Purchase Value', 'SN':'Purchase Count'}, axis=1)
top_spenders['Average Purchase Price'] = top_spenders['Total Purchase Value']/top_spenders['Purchase Count']
top_spenders = top_spenders[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
top_spenders=top_spenders.sort_values('Total Purchase Value', ascending = False)
format_dict = {'Average Purchase Price':'${0:,.2f}', 
               'Total Purchase Value':'${0:,.2f}'}
top_spenders.head().style.format(format_dict)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
popular_items = purchase_data.groupby(['Item ID', 'Item Name']).agg({
    'Item ID': 'count',
    'Price':['max','sum']
})
popular_items.columns = [' '.join(col).strip() for col in popular_items.columns.values]
popular_items = popular_items.rename({'Item ID count':'Purchase Count', 'Price max':'Item Price', 'Price sum':'Total Purchase Value'},axis = 1)
popular_items = popular_items.sort_values('Total Purchase Value', ascending = False)

format_dict = {'Item Price':'${0:,.2f}', 
               'Total Purchase Value':'${0:,.2f}'}
popular_items.head().style.format(format_dict)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80